/********************************
 ****** MIXINES & HELPERS
 *******************************/
.text-primary {
  background-color: #25282B;
}

.bg-primary {
  background-color: #25282B;
}

.border-primary {
  border: 1px solid #25282B;
}

.text-secondary {
  background-color: #52575C;
}

.bg-secondary {
  background-color: #52575C;
}

.border-secondary {
  border: 1px solid #52575C;
}

.text-inactive {
  background-color: #A0A4A8;
}

.bg-inactive {
  background-color: #A0A4A8;
}

.border-inactive {
  border: 1px solid #A0A4A8;
}

.text-error {
  background-color: #FB4E4E;
}

.bg-error {
  background-color: #FB4E4E;
}

.border-error {
  border: 1px solid #FB4E4E;
}

.text-warning {
  background-color: #F6A609;
}

.bg-warning {
  background-color: #F6A609;
}

.border-warning {
  border: 1px solid #F6A609;
}

.text-success {
  background-color: #2AC769;
}

.bg-success {
  background-color: #2AC769;
}

.border-success {
  border: 1px solid #2AC769;
}

.text-active {
  background-color: #00857A;
}

.bg-active {
  background-color: #00857A;
}

.border-active {
  border: 1px solid #00857A;
}

.text-default {
  background-color: #00A699;
}

.bg-default {
  background-color: #00A699;
}

.border-default {
  border: 1px solid #00A699;
}

.text-disabled {
  background-color: #99DBD6;
}

.bg-disabled {
  background-color: #99DBD6;
}

.border-disabled {
  border: 1px solid #99DBD6;
}

/********************************
 ****** BUTTON
 *******************************/
.btn {
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 1rem;
  border: 0px solid white;
  color: white;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

/********************************
 ****** GENERAL
 *******************************/
* {
  color: #25282B;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  min-width: 500px;
}

body > * {
  width: 100%;
  max-width: 1024px;
}

/********************************
 ****** HEADER
 *******************************/
header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #F9F9FA;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .logo div {
  margin-left: 0.5rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile img {
  width: 40px;
  height: 40px;
  background-color: #A0A4A8;
  border-radius: 50%;
}

.profile div {
  margin-left: 0.5rem;
}

/********************************
 ****** MAIN
 *******************************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/********************************
 ****** FILMS
 *******************************/
.films {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 800px) {
  .films {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .films {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.card-container {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .film-card {
  width: 11rem;
}

.card-container .film-card .poster {
  width: 11rem;
  height: 16rem;
  border-radius: 1rem;
  background-color: #A0A4A8;
  background-image: url("https://www.luxorfilm.ru/storage/b9eb6a018ae337fd4aa06f971c347863.jpeg");
  background-size: cover;
}

.card-container .film-card .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-container .film-card .genre {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #52575C;
}

.card-container .film-card .inactive {
  opacity: 0.3;
}

/********************************
 ****** FORMS
 *******************************/
form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
}

form .field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

form .field-container label {
  margin-left: 2rem;
  font-size: 12px;
}

form .field-container input {
  width: 100%;
  padding: 0.3rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #25282B;
}

form .btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

form .full-width {
  grid-column: 1/-1;
}

.form-hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/********************************
 ****** FILM PAGE
 *******************************/
/*# sourceMappingURL=style.css.map */