@import "mixin";

* {
	color: $prime;
}

body {
	@include flex-col();
	@include padding-x(1rem);
	width: 100%;
	min-width: 500px;

	>* {
		width: 100%;
		max-width: 1024px;
	}
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	@include padding-x(1rem);
	@include padding-y(0.5rem);
	@include margin-y(1rem);
	background-color: $bgcol;
	border-radius: 1rem;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	.logo {
		@include center();
		justify-content: start;

		div {
			margin-left: 0.5rem;
		}
	}

	nav {
		@include flex-row();
	}

	.info-container {
		@include center();
	}
}

.profile {
	@include center();

	img {
		@include rec(40px, 40px);
		background-color: $lgray;
		border-radius: 50%;
	}

	div {
		margin-left: 0.5rem;
	}
}

main {
	@include center();
}

.films {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 800px) {
	.films {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 600px) {
	.films {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.card-container {
	margin: 0.5rem;
	@include center();

	.film-card {
		width: 11rem;

		.poster {
			@include rec(11rem, 16rem);
			border-radius: 1rem;
			background-color: $lgray;
			background-image: url("https://www.luxorfilm.ru/storage/b9eb6a018ae337fd4aa06f971c347863.jpeg");
			background-size: cover;
		}

		.title {
			@include text-shorten();
		}

		.genre {
			@include text-shorten();
			color: $second;
		}

		.inactive {
			opacity: 0.3;
		}
	}
}

.registration {
	form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 0.5rem;
	}	
	.field-container {
		@include flex-col();
		align-items: flex-start;
		width: 100%;
		label {
			margin-left: 2rem;
			font-size: 12px;
		}
		input {
			width: 100%;
			padding: 0.3rem;
			padding-left: 1rem;
			border-radius: 0.5rem;
			border: 1px solid $prime;
		}
	}

	.hint {
		background-color: #fff;
		@include center();
		@include margin-y(0.5rem);
	}

	.btn {
		@include margin-y(0.5rem);
		margin-top: 1.5rem;
	}

	.full-width {
		grid-column: 1/-1;
	}
}

.btn {
	@include padding-x(2rem);
	@include padding-y(0.8rem);
	border-radius: 1rem;
	border: 0px solid white;
	color: white;
	background-color: $primarydft;
	transition: background-color 0.2s;
}

.btn-active {
	background-color: $primary;
}
