<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="./style/normalize.css">
	<link rel="stylesheet" href="./style/style.css">
	<title>Cinema App</title>
</head>

<body>
	<header>
		<div class="logo">
			<img src="./static/logo.svg" alt="logo">
			<div class="h5">Cinema App</div>
		</div>
		<nav>
			<div class="body-sm"><a class="underline" href="./index.html">Index</a></div>
			<div class="body-sm"><a class="underline" href="./login.html">Login</a></div>
			<div class="body-sm"><a class="underline" href="./film_page.html">Film</a></div>
			<div class="body-sm"><a class="underline" href="./seat_pick.html">Pick</a></div>
			<div class="body-sm"><a class="underline" href="./cabinet.html">Cabinet</a></div>
		</nav>
		<div class="info-container">
			<div class="profile">
				<img class="avatar" alt="" src="https://source.unsplash.com/40x40/?portrait?1">
				<div class=""><a href="#" class="underline">Marko Polo</a></div>
			</div>
		</div>
	</header>
	<main>
		<div class="cabinet">
			<div class="user-info">
				<div class="user-name h3">
					Boris Britva
				</div>
				<div class="login h5">
					boris.britva@gmail.com
				</div>
			</div>
			<div class="orders">
				<h2>Мои заказы</h4>
				<div class="active-history">
					<div class="h3">Активные билеты</div>
					<div class="h3">История заказов</div>
				</div>
				<div class="orders-list">
					<div class="list-item">
						<div class="film-name">Ограбление старушек</div>
						<div class="body-sm date">21 марта 2022 в 19.30</div>
						<div class="body-sm location">Atlantis-cinema Москва</div>
						<div class="body-sm place">Зал 12 Ряд 6 Место 46 </div>
						<div class="price">560</div>
					</div>
					<div class="list-item">
						<div class="film-name">Ограбление старушек</div>
						<div class="body-sm date">21 марта 2022 в 19.30</div>
						<div class="body-sm location">Atlantis-cinema Москва</div>
						<div class="body-sm place">Зал 12 Ряд 6 Место 46 </div>
						<div class="price">560</div>
					</div>
					<div class="list-item">
						<div class="film-name">Ограбление старушек</div>
						<div class="body-sm date">21 марта 2022 в 19.30</div>
						<div class="body-sm location">Atlantis-cinema Москва</div>
						<div class="body-sm place">Зал 12 Ряд 6 Место 46 </div>
						<div class="price">560</div>
					</div>
					<div class="list-item">
						<div class="film-name">Ограбление старушек</div>
						<div class="body-sm date">21 марта 2022 в 19.30</div>
						<div class="body-sm location">Atlantis-cinema Москва</div>
						<div class="body-sm place">Зал 12 Ряд 6 Место 46 </div>
						<div class="price">560</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>