<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./style/normalize.css">
	<link rel="stylesheet" href="./style/style.css">
	<title>Cinema App</title>
</head>
<body>
	<header>
		<div class="logo">
			<img src="./static/logo.svg" alt="logo">
			<div class="h5">Cinema App</div>
		</div>
		<nav>
			<div class="body-sm"><a class="underline" href="./index.html">Index</a></div>
			<div class="body-sm"><a class="underline" href="./login.html">Login</a></div>
			<div class="body-sm"><a class="underline" href="./film_page.html">Film</a></div>
			<div class="body-sm"><a class="underline" href="./seat_pick.html">Pick</a></div>
			<div class="body-sm"><a class="underline" href="./cabinet.html">Cabinet</a></div>
		</nav>
		<div class="info-container">
			<div class="profile">
				<img class="avatar" alt="" src="https://source.unsplash.com/40x40/?portrait?1">
				<div class=""><a href="#" class="underline">Marko Polo</a></div>
			</div>
		</div>
	</header>
	<main>
		<div class="seat-pick">
			<div class="info">
				<div class="film-title h3">Горбатая гора</div>
				<div class="descr">21 марта 2022 в 19.30 | Atlantis-cinema Москва | Зал 8</div>
			</div>
			<div class="hall">
				<div class="screen"></div>
				<div class="seats">
					<div class="row">
						<div class="row-num">1</div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="row-num">1</div>
					</div>
					<div class="row">
						<div class="row-num">1</div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="row-num">1</div>
					</div>
					<div class="row">
						<div class="row-num">1</div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="row-num">1</div>
					</div>
					<div class="row">
						<div class="row-num">1</div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="seat bg-secondary"></div>
						<div class="row-num">1</div>
					</div>
				</div>
			</div>
			<div class="types">
				<div class="type">
					<div class="seat bg-secondary"></div>
					<div class="hint"> - Обычный</div>
					<div class="price">260</div>
				</div>
				<div class="type">
					<div class="seat bg-success"></div>
					<div class="hint"> - Комфорт</div>
					<div class="price">260</div>
				</div>
				<div class="type">
					<div class="seat bg-warning"></div>
					<div class="hint"> - Занято</div>
					<div class="price">260</div>
				</div>
				<div class="type">
					<div class="seat bg-active"></div>
					<div class="hint"> - Выбранное вами</div>
				</div>
			</div>
		</div>
		<div class="picked">
			<h4>Ваши места</h4>
			<div class="picked-seat">
				<div class="place">9 ряд 8 место</div>
				<div class="type">Комфорт</div>
				<div class="price">512</div>
				<div class="cross"><img src="./static/x.svg" alt="cross"></div>
			</div>
			<div class="picked-seat">
				<div class="place">9 ряд 8 место</div>
				<div class="type">Комфорт</div>
				<div class="price">512</div>
				<div class="cross"><img src="./static/x.svg" alt="cross"></div>
			</div>
			<div class="picked-seat">
				<div class="place">9 ряд 8 место</div>
				<div class="type">Комфорт</div>
				<div class="price">512</div>
				<div class="cross"><img src="./static/x.svg" alt="cross"></div>
			</div>
			<button class="button bg-primary price">
				Продолжить 1200
			</button>
		</div>
	</main>
</body>
</html>