<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./style/normalize.css">
	<link rel="stylesheet" href="./style/style.css">
	<title>Cinema App</title>
</head>
<body>
	<header>
		<div class="logo">
			<img src="./static/logo.svg" alt="logo">
			<div class="h5">Cinema App</div>
		</div>
		<nav>
			<div class="body-sm">Home</div>
			<div class="body-sm">Buy ticket</div>
			<div class="body-sm">Films</div>
		</nav>
		<div class="info-container">
			<div class="profile">
				<img class="avatar" alt="" src="https://source.unsplash.com/40x40/?portrait?1">
				<div class="">Marko Polo</div>
			</div>
		</div>
	</header>
	<main>
		<div class="film-page">
			<div class="film-info">
				<div class="poster"></div>
				<h3 class="title">Коричневый закат</h3>
				<div class="spec body-sm">
					<div class="spec-item">
						<div class="name">Год:</div>
						<div class="value">1984</div>
					</div>
					<div class="spec-item">
						<div class="name">Режиссер:</div>
						<div class="value">Камерон Монахэн, Фрэнк Грилло, Лилли Круг, Джон Малкович, Саша Лусс</div>
					</div>
					<div class="spec-item">
						<div class="name">В ролях:</div>
						<div class="value">Камерон Монахэн, Фрэнк Грилло, Лилли Круг, Джон Малкович, Саша Лусс</div>
					</div>
					<div class="spec-item">
						<div class="name">Режиссер:</div>
						<div class="value">Камерон Монахэн</div>
					</div>
				</div>
				<div class="descr body-sm">
					<h4>Описание фильма</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aperiam repudiandae et provident debitis harum magnam veniam eius aliquid tenetur? Ut qui ipsa quaerat nesciunt rem ratione fugiat nihil numquam.</p>
				</div>
			</div>
			<div class="timetable">
				<div class="days">
					<div class="button extended">
						<div class="hint small">23 марта</div>
						<div class="main">Сегодня</div>
					</div>
					<div class="button extended">
						<div class="hint  small">24 марта</div>
						<div class="main">Завтра</div>
					</div>
					<div class="button extended">
						<div class="hint  small">25 марта</div>
						<div class="main">Понедельник</div>
					</div>
				</div>
				<div class="cinemas">
					<div class="cinema">
						<div class="cinema-info">
							<div class="name h4">Atlantis-cinema</div>
							<div class="adress">Москва ул. Кировоградская, д.13А, ТРЦ «Columbus», 4 этаж</div>
						</div>
						<div class="sessions">
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
						</div>
					</div>
					<div class="cinema">
						<div class="cinema-info">
							<div class="name h4">Atlantis-cinema</div>
							<div class="adress">Москва ул. Кировоградская, д.13А, ТРЦ «Columbus», 4 этаж</div>
						</div>
						<div class="sessions">
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
						</div>
					</div>
					<div class="cinema">
						<div class="cinema-info">
							<div class="name h4">Atlantis-cinema</div>
							<div class="adress">Москва ул. Кировоградская, д.13А, ТРЦ «Columbus», 4 этаж</div>
						</div>
						<div class="sessions">
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
							<div class="button extended">
								<div class="main">13.20</div>
								<div class="hint small">от 429р.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>