<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./reset.css">
	<link rel="stylesheet" href="./style.css">
	<title>Cinema App</title>
</head>
<body class="w-full min-w-[610px] flex flex-col items-center p-4">
	<header class="w-full grid grid-cols-3 bg-gray-50 rounded-lg shadow-md p-2 mb-2">
		<div class="w-full flex flex-row items-center">
			<img src="./static/logo.svg" alt="logo">
			<h5 class="ml-2">Cinema App</h4>
		</div>
		<nav class="flex flex-row justify-around items-center">
			<div class="body font-bold">Home</div>
			<div class="body ">Buy ticket</div>
			<div class="body ">Films</div>
		</nav>
		<div class="w-full flex items-center justify-center">
			<img class="avatar" alt="" src="https://source.unsplash.com/40x40/?portrait?1">
			<div class="ml-2">Marko Polo</div>
		</div> 
	</header>
	<main>
		<div class="film-card">
			<img src="https://source.unsplash.com/150x200" class="rounded-2xl" alt="">
			<div class="body">Морской кринж</div>
			<div class="small text-second">Триллер</div>
			<div class="stars flex">
				<img src="./static/star.svg" alt="">
				<img src="./static/star.svg" alt="">
				<img src="./static/star.svg" alt="">
				<img src="./static/star.svg" alt="">
				<img src="./static/star.svg" class="opacity-30" alt="">
			</div>
		</div>
	</main>
</body>
</html>